{% extends 'front-end/base.html.twig' %}

{% block main %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form"action="{{ path('send_message', {recipientId: recipient.id}) }}" method="post" enctype="multipart/form-data">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

                    {% for msg in app.session.flashbag.get('info') %}
                        <div class="flashback">
                            <p style="color: red">{{ msg }}</p>
                        </div>
                    {% endfor %}

                    <span class="login100-form-title p-b-34 p-t-27">
						Send Message
					</span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="message[recipient][username]" value="{{ recipient.username }}" readonly="readonly">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        {{ form_widget(form.content, { 'attr':{'id': 'content_form', 'class': 'input100'} }) }}
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Send
                        </button>
                    </div>

                    {#<div class="text-center p-t-90">#}
                        {#<a class="txt1" href="#">#}
                            {#Back#}
                        {#</a>#}
                    {#</div>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


