{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {% for msg in app.session.flashbag.get('info') %}
    <div class="alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
        {{ msg }}
    </div>
    {% endfor %}

    <form method="post">
        <label>
            Username: <input type="text" name="user[username]" required placeholder="Username">
        </label>
        <br>
        <label>
            Email: <input type="text" name="user[email]" required placeholder="Email">
        </label>
        <br>
        <label>
            Password: <input type="password" name="user[password]" required placeholder="Password">
        </label>
        <br>
        <label>
            Confirm Password: <input type="password" name="confirm_password" required placeholder="Confirm Password">
        </label>
        <br>
        <label>
            <input type="submit" value="Register">
        </label>

        {{ form_row(form._token) }}
    </form>

{% endblock %}
