{#<html>#}
{#<head>#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
    {#<link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#</head>#}
{#<body>#}

{#<div class="nav navbar-nav navbar-left" style="padding-top: 17px">#}
    {#<form autocomplete="off" action="{{ path('homepage') }}">#}
        {#<div class="autocomplete" >#}
            {#<input id="myInput" type="text" name="myCountry" placeholder="Country">#}

        {#</div>#}
        {#<button type="submit" ><i class="fa fa-search"></i></button>#}

    {#</form>#}

{#</div>#}
{#<script src="{{ asset('js/autocomplete.js') }}"></script>#}
{#</body>#}
{#</html>#}


